#*
 * Copyright (c) 2018-present Sonatype, Inc. All rights reserved.
 *
 * This program is licensed to you under the Apache License Version 2.0,
 * and you may not use this file except in compliance with the Apache License Version 2.0.
 * You may obtain a copy of the Apache License Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0.
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the Apache License Version 2.0 is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Apache License Version 2.0 for the specific language governing permissions and limitations there under.
 *###
# Usage

Audit a project dependencies using [Sonatype OSS Index](https://ossindex.sonatype.org).

<h2>Via POM execution</h2>

Add an invocation of the [ossindex:audit](audit-mojo.html) goal via POM execution:

    <build>
      <plugins>
        <plugin>
          <groupId>org.sonatype.ossindex.maven</groupId>
          <artifactId>ossindex-maven-plugin</artifactId>
          <version>${project.version}<version>
          <executions>
            <execution>
              <id>audit-dependencies</id>
              <phase>validate</verify>
              <goals>
                <goal>audit</goal>
              </goals>
            </execution>
          </executions>
        </plugin>
      <plugins>
    </build>

<h2>Via CLI</h2>

If you can not change the POM, run the [ossindex:audit](audit-mojo.html) goal directly on the command-line
with a project:

    mvn org.sonatype.ossindex.maven:ossindex-maven-plugin:${project.version}:audit -f pom.xml

<h2>Features</h2>

* [Goals](plugin-info.html)
* [Excludes](excludes.html)
* [Fail or Warn](failorwarn.html)
* [Export Report](exportreport.html)
