{{ define "main" }}
<!--suppress HtmlUnknownTarget -->
<div class="jumbotron">
  <h1 class="display-4 welcome-brand">
    <img src="{{ `/images/sonatype-48x48.png` | relURL }}" width="48" height="48" alt="">
    {{ .Title }}
  </h1>
  <p class="lead text-muted">
    Support for using <a href="https://maven.apache.org">Apache Maven</a> to audit project dependencies using
    <a href="https://ossindex.sonatype.org">Sonatype OSS Index</a>.
  </p>
  <p class="text-muted">
    Audit can be done using a Maven plugin goal or a using the standard Maven Enforcer plugin.
  </p>
</div>

<div class="homepage-content">
  {{ .Content }}
</div>

{{ end }}
