#*
 * Copyright (c) 2018-present Sonatype, Inc. All rights reserved.
 *
 * This program is licensed to you under the Apache License Version 2.0,
 * and you may not use this file except in compliance with the Apache License Version 2.0.
 * You may obtain a copy of the Apache License Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0.
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the Apache License Version 2.0 is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Apache License Version 2.0 for the specific language governing permissions and limitations there under.
 *###
# Enforcer Rules

Audit a project dependencies using [Sonatype OSS Index](https://ossindex.sonatype.org) invoked via
[Apache Maven Enforcer Plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/).

## Ban Vulnerable Dependencies

To ban vulnerable dependencies from being consumed by builds:

    <build>
      <plugins>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-enforcer-plugin</artifactId>
          <dependencies>
            <dependency>
              <groupId>org.sonatype.ossindex.maven</groupId>
              <artifactId>ossindex-maven-enforcer-rules</artifactId>
              <version>${project.version}</version>
            </dependency>
          </dependencies>
          <executions>
            <execution>
              <id>vulnerability-checks</id>
              <phase>validate</phase>
              <goals>
                <goal>enforce</goal>
              </goals>
              <configuration>
                <rules>
                  <banVunerableDependencies
                      implementation="org.sonatype.ossindex.maven.enforcer.BanVulnerableDependencies">
                  </banVunerableDependencies>
                </rules>
              </configuration>
            </execution>
          </executions>
        </plugin>
      </plugins>
    </build>

### Parameters

* **scope** - Limit scope of dependency resolution.
* **transitive** - include transitive dependencies; _default:_ `true`
* **cvssScoreThreshold** - CVSS-score threshold.  Vulnerabilities with lower scores will be excluded.
* **excludeCoordinates** - Set of coordinates to exclude from vulnerability matching.
* **excludeVulnerabilityIds** - Set of <a href="https://ossindex.sonatype.org/">Sonatype OSS Index</a> vulnerability identifiers to exclude from matching.
* **level** - Levels steering whether a rule should fail a build (`ERROR`) or just display a warning (`WARN`); _default:_ `ERROR`